@model IEnumerable<StockInquiry.Models.Domain.SKU>

@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Site/_Layout.cshtml";
}

<table id="results" class="table ">
    <thead>
        <tr>
            <th>Style Code</th>
            <th>Colour</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var result in Model)
            {
                <tr class="result">
                    <td class="itemcode">@result.Style.Code</td>
                    <td class="itemcolour">@result.Colour</td>
                    <td class="itemsize">@result.Size</td>
                    <td><a href="@Url.Action("Find", "Stock", new { id = result.Id })">View Stock</a></td>
                </tr>
            }
        }
    </tbody>
</table>