@model IEnumerable<StockInquiry.Models.Domain.Stock>

@{
    ViewBag.Title = "Stock";
    Layout = "~/Views/Site/_Layout.cshtml";
}

<table id="stockresults" class="table">
    <thead>
        <tr>
            <th>SKU Id</th>
            <th>Location</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var result in Model)
            {
                <tr class="result">
                    <td class="skuid">@result.SKU.Id</td>
                    <td class="location">@result.Location</td>
                    <td class="quantity">@result.Quantity</td>
                </tr>
            }
        }
    </tbody>
</table>